<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title>Login Form</title>

    <!-- CSS link ! -->
    <link rel="stylesheet" href='{% static "CSS/FGPASS.css" %}'>

    <!-- JS link ! -->
    <script src="{% static 'JS/fgt_password.js' %}" type="text/javascript"></script>

  </head>
  <body>

    <div class="Topnav">
      <h1>Password Update</h1>
    </div>

    <div class="Section">
      <form class="Sector1" action="#" onsubmit="return validation_check()" method="POST">
        {% csrf_token %}
        <div class="Area" style="margin-top: 35px;">
          <label>Email</label> <br>
          <input type="email" id="e_mail" name="Email" placeholder="Your Email." autocomplete="off" onchange=email()> <br>
          <span id="e_mail_error"></span>
        </div>
        <div class="Area">
          <label>Password</label> <br>
          <input type="text" id="pass" name="Password" placeholder="Your Password." autocomplete="off" onchange=pass_check()> <br>
          <span id="pass_error"></span>
        </div>
        <div class="Area">
          <label>Confirm Password</label> <br>
          <input type="text" id="cpass" name="CPassword" placeholder="Confirm Password" autocomplete="off" disabled=true onkeyup=cpass_check()> <br>
          <span id="cpass_error"></span>
        </div>
        <div class="Sub">
          <input type="submit" class="Sub1" name="Submit" value="Save">
          <input type="reset" class="Sub2" name=Reset value="Reset">
         
        </div>
      </form>
    </div>

    
  

  </body>
</html>
